<template lang="pug">
.container.vh-100
  .alert.alert-warning(v-show="retryCount === 0") Вы исчерпали лимит попыток входа! Попробуйте позднее
  form.row.h-100.justify-content-center.align-items-center
    .col-4
      input.form-control.mb-4(type='text', placeholder='Введите имя пользователя', v-model='user.name')
      input.form-control.mb-4(type='password', placeholder='Введите пароль', v-model='user.password')
      button.btn.btn-outline-dark.d-block.w-25.mx-auto(type='submit', @click.prevent='login', :disabled="retryCount === 0") Вход
</template>

<script>
import { authentication } from '@/assets/request.js';

export default {
  data() {
    return {
      user: {
        name: '',
        password: '',
      },
      retryCount: 5,
    };
  },
  methods: {
    login() {
      authentication(this.user)
        .then((data) => {
          console.log('Successful login!');
          localStorage.setItem('user', JSON.stringify(data));
          this.$router.push({ name: 'id', params: { id: data.id } });
        })
        .catch((error) => {
          console.log(error);
          if (error !== 'Invalid password') return
          this.retryCount -= 1;
          if (this.retryCount === 0) {
            setTimeout(() => {
              this.retryCount = 5;
            }, 10000)
          }
        });
    },
  },
};
</script>