<template lang="pug">
  .p-0.m-0.container-fluid
    navbar
    .jumbotron.m-0.p-0.p-3.jumbotron-fluid
      .container
        .row
          .col-sm
            .editor
              editor-menu-bar(:editor='editor' v-slot='{ commands, isActive }')
                .menubar
                  .toolbar
                    button.menubar__button(@click='commands.undo')
                      icon(name='undo')
                    button.menubar__button(@click='commands.redo')
                      icon(name='redo')
                    button.menubar__button(:class="{ 'is-active': isActive.bold() }" @click='commands.bold')
                      icon(name='bold')
                    button.menubar__button(:class="{ 'is-active': isActive.italic() }" @click='commands.italic')
                      icon(name='italic')
                    button.menubar__button(:class="{ 'is-active': isActive.strike() }" @click='commands.strike')
                      icon(name='strike')
                    button.menubar__button(:class="{ 'is-active': isActive.underline() }" @click='commands.underline')
                      icon(name='underline')
                    button.menubar__button(:class="{ 'is-active': isActive.code() }" @click='commands.code')
                      icon(name='code')
                    button.menubar__button(:class="{ 'is-active': isActive.paragraph() }" @click='commands.paragraph')
                      icon(name='paragraph')
                    button.menubar__button(:class="{ 'is-active': isActive.heading({ level: 1 }) }" @click='commands.heading({ level: 1 })')
                      | H1
                    button.menubar__button(:class="{ 'is-active': isActive.heading({ level: 2 }) }" @click='commands.heading({ level: 2 })')
                      | H2
                    button.menubar__button(:class="{ 'is-active': isActive.heading({ level: 3 }) }" @click='commands.heading({ level: 3 })')
                      | H3
                    button.menubar__button(:class="{ 'is-active': isActive.bullet_list() }" @click='commands.bullet_list')
                      icon(name='ul')
                    button.menubar__button(:class="{ 'is-active': isActive.ordered_list() }" @click='commands.ordered_list')
                      icon(name='ol')
                    button.menubar__button(:class="{ 'is-active': isActive.blockquote() }" @click='commands.blockquote')
                      icon(name='quote')
                    button.menubar__button(:class="{ 'is-active': isActive.code_block() }" @click='commands.code_block')
                      icon(name='code')
                    button.menubar__button(@click='\
                        commands.createTable({\
                        rowsCount: 3,\
                        colsCount: 3,\
                        withHeaderRow: false,\
                        })')
                      icon(name='table')
                    span(v-if='isActive.table()')
                      button.menubar__button(@click='commands.deleteTable')
                        icon(name='delete_table')
                      button.menubar__button(@click='commands.addColumnBefore')
                        icon(name='add_col_before')
                      button.menubar__button(@click='commands.addColumnAfter')
                        icon(name='add_col_after')
                      button.menubar__button(@click='commands.deleteColumn')
                        icon(name='delete_col')
                      button.menubar__button(@click='commands.addRowBefore')
                        icon(name='add_row_before')
                      button.menubar__button(@click='commands.addRowAfter')
                        icon(name='add_row_after')
                      button.menubar__button(@click='commands.deleteRow')
                        icon(name='delete_row')
                      button.menubar__button(@click='commands.toggleCellMerge')
                        icon(name='combine_cells')
              editor-content.editor__content(:editor='editor')
          .col-sm
            .export
              h3 JSON
              pre
                code(v-html="json")
</template>
<script>
import Navbar from '@/components/Navbar.vue';
import Icon from '@/components/Icon.vue';
import { Editor, EditorContent, EditorMenuBar } from 'tiptap';
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  TrailingNode,
  Table,
  TableHeader,
  TableCell,
  TableRow,
  Strike,
  Underline,
  History,
} from 'tiptap-extensions';

export default {
  name: 'Home',
  components: {
    Navbar,
    EditorContent,
    EditorMenuBar,
    Icon,
  },
  data() {
    return {
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
          new TrailingNode({
            node: 'paragraph',
            notAfter: ['paragraph'],
          }),
          new Table({
            resizable: true,
          }),
          new TableHeader(),
          new TableCell(),
          new TableRow(),
        ],
        content: `
          <h2>
            Hi there,
          </h2>
          <p>
            this is a very <em>basic</em> example of tiptap.
          </p>
          <pre><code>body { display: none; }</code></pre>
          <ul>
            <li>
              A regular list
            </li>
            <li>
              With regular items
            </li>
          </ul>
          <blockquote>
            It's amazing 👏
            <br />
            – mom
          </blockquote>
          <h2>
              Tables
            </h2>
            <p>
              Tables come with some useful commands like adding, removing or merging rows and columns. Navigate with <code>tab</code> or arrow keys. Resizing is also supported.
            </p>
            <table>
              <tr>
                <th colspan="3" data-colwidth="100,0,0">Wide header</th>
              </tr>
              <tr>
                <td>One</td>
                <td>Two</td>
                <td>Three</td>
              </tr>
              <tr>
                <td>Four</td>
                <td>Five</td>
                <td>Six</td>
              </tr>
            </table>
        `,
        onUpdate: ({ getJSON, getHTML }) => {
          this.json = getJSON();
          this.html = getHTML();
        },
      }),
      json: 'Update content to see changes',
      html: 'Update content to see changes',
      user: {}
    };
  },
  created() {
    Object.assign(this.user, JSON.parse(localStorage.getItem('user'))); 
  },
  beforeDestroy() {
    this.editor.destroy();
  },
};
</script>

<style lang="scss" scoped>
h1,
h2 {
  margin: 0;
}

h3 {
  margin-top: 0.5rem;
}

img {
  margin-bottom: 1rem;
}

@import 'src/assets/css/variables';
.actions {
  max-width: 30rem;
  margin: 0 auto 2rem auto;
}

.export {
  max-width: 30rem;
  margin: 0 auto 2rem auto;

  pre {
    padding: 1rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    background: rgba($color-black, 0.05);
    color: rgba($color-black, 0.8);
  }

  code {
    display: block;
    white-space: pre-wrap;
  }
}
</style>
